@{
    ViewData["Title"] = "Demo";
}
@model BookModel

@if (Model != null)
{
    <div>
        Title: @Model.Title
    </div>
    <div>
        Author: @Model.Author
    </div>
    <div>
        Published: @Model.Published
    </div>
}
else
{
    <div>No book data to display.</div>
}

<form action="/demo/createbook" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" />
    
    <label for="author">Author</label>
    <input type="text" name="author" />

    <label for="published">Publish Date</label>
    <input type="date" name="published" />

    <button type="submit">
        Create Book
    </button>
</form>
