@{
    ViewData["Title"] = "Demo";
}

<div>
    Hi there and welcome to the demo route @ViewData["Name"]!
</div>

<div>@ViewData["Books"]</div>

<form action="/demo/setname" method="post">
    <input type="text" name="name" />

    <button type="submit">
        Change Name
    </button>
</form>