<section class="phx-hero">
  <h1><%= gettext "Welcome to %{name}!", name: "bookshelf" %></h1>
  <p>Read. Connect. Grow.</p>
  <div>
    <%= link "View Books", 
      to: Routes.book_path(@conn, :index) %>
  </div>
  <div>
    <%= link "Lookup a Book", 
      to: Routes.lookup_path(@conn, :index) %>
  </div>
</section>

