<%= form_for @conn,
    Routes.lookup_path(@conn, :lookup_book),
    fn f -> %>
  <div>
    <%= text_input f, :isbn, placeholder: "ISBN" %>
  </div>
  <%= submit "Lookup Title" %>
<% end %>

<div>Found Book:</div>
<div class="book-card">
  <div>Title: <%= Map.get(assigns[:value], "title", "") %></div>
  <div>Author: <%= Map.get(assigns[:value], "author", "") %></div>
  <div>Description: <%= Map.get(assigns[:value], "description", "") %></div>
</div>
